:root{
    --nav-height: 100px;
}
*, ::before, ::after{
    box-sizing: border-box;
}
html {
    --maxWidth: 1284px;
    margin: 0;
    padding: 0;
    background: #100e17;
    color: #fff;
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;

}

div{
    display: block;
}
html::-webkit-scrollbar{
    width: 30px;
    height: 30px;
}
html::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,#ff8a00,#da1b60);
    border-radius: 30px;
}
body{
    margin: 0;
    display: block;
}
a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}
.site-header{
    --nav-height: 100px;
    display: flex;
    background: #100e17;
    border-bottom: 1px solid #201c29;
    flex: 1;


}
.logo{
    display: flex;
    padding:  0 40px;
    align-items: center;
}
.header-middle-area{
    flex: 1;
}


.main-sections{
    list-style: none;
    margin: 0;
    padding: 0;

}
.site-header .main-nav .main-sections>li>a {

    display:flex;
    justify-content: center;
    border-right: 1px solid #201c29;
    font-weight: 500;
    font-size: .6rem;
    color: #fff;
    height: var(--nav-height);
    padding: .5rem;
    flex-direction: column;
    text-align: center;

}
.main-sections > li{
    display: inline-flex;
    margin: 0;
}
.main-nav-color:hover{
    fill: #da1b60;

}
.site-header .logo>a {
    display: flex;
    align-items: center;
}
.site-header .header-middle-area {
    -webkit-box-flex: 1;
}
.icon1{
    -webkit-animation: spin 1.4s ease-out;
       -moz-animation: spin 1.4s ease-out;
         -o-animation: spin 1.4s ease-out;
            animation: spin 1.4s ease-out;

}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);

    }
    
}
.hero-article{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 4rem;
    font-size: 20px;
    margin-bottom: 4rem;
    padding-top: 1rem;
    overflow: hidden;
}
.page-wrap-home{
    max-width: 1284px;
    margin: 0 auto;
}
.article-publication-meta {
    margin: 0 0 .5rem 0;
}
.article-publication-meta>strong {
    margin: 0 .3rem 0 0;
}
time {
    color: #7a7a8c;
}
.h1, .header-breadcrumbs .breadcrumb_last, h1 {
    font-size: 56px;
    font-weight: 700;
}
.site-header .main-nav .main-sections>li>a>svg {
    -webkit-transition: .2s;
    transition: .2s;
    pointer-events: none;
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto .5rem;
    fill: none;
    stroke-width: 2;
    stroke: #c2c2c2;
}
.main-sections:hover #articles{
    stroke: #FFD700;
}
.main-sections:hover #Videos{
    stroke: #da1b60;
}
.main-sections:hover #almanac{
    stroke: #ff8a00;
}
.main-sections:hover #snippets{
    stroke: #3366ff;
}
.main-sections:hover #newsletter{
    stroke: #da1b60;
}
.main-sections:hover #jobs{
    stroke: #ff66ff;
}
.main-sections:hover #guides{
    stroke: #66ff66;
}
 .article-publication-meta a:hover{

    background: linear-gradient(to right,#ff8a00,#da1b60);
     -webkit-background-clip: text;
     color: transparent;
     display: table;
}